body{
margin: 0;
    padding: 0;

}
.glavn{
background: url(../img/fonsone.png) no-repeat center top / cover; 
    height: 2000px;


}
.logo{
padding: 20px;
cursor: pointer;

}
.menu{
margin-left: 300px;
    margin-top: 50px
}
.menu__item{
font-weight:100;
font-family: 'Roboto', sans-serif;
padding-left: 40px;
list-style-type: none; 
  
}
.menu__item a{
    font-size: 18px;
    text-decoration: none;
    color:white;
   display: inline-block;
    position: relative;
}
.sub_a:hover{
color: black;
text-decoration: none;

}
.Factoryadverts{
color: white;
    font-weight:800;
font-family: 'Roboto', sans-serif;cursor: pointer;
font-size: 48px;
}
.help{
color: white;
    font-weight:400;
font-family: 'Roboto', sans-serif;
font-size: 30px;cursor: pointer;
}
.blockone{
margin-top: 243px;
}
.comp{
margin-left: 566px;
    margin-top: -300px;cursor: pointer;
}



.knopka{
 color: white;
    position: relative;
  display: inline-block;
  font-size: 90%;
  font-weight: 700;
  text-decoration: none;
  outline: none;
  border-radius: 60px;
  background:rgba(255,255,255,.2);
    padding: 9px 40px 11px 40px;
  box-shadow:
   0 1px rgba(255,255,255,.2) inset,
   0 3px 5px rgba(0,1,6,.5),
   0 0 1px 1px rgba(0,1,6,.2);
  transition: .2s ease-in-out;
    border:3px solid white;
    margin-top: 50px;
    margin-left: -668px;
    font-family: 'Roboto', sans-serif;
        
}
a.knopka:hover:not(:active) {
  background:#01f7b3 ;
    text-decoration: none;
    color: white;
    border:3px solid #01f7b3;cursor: pointer;
}
a.knopka:active {
  top: 1px;
  background:#01f7b3 ;
    text-decoration: none;
  box-shadow:
   0 0 1px rgba(0,0,0,.5) inset,
   0 2px 3px rgba(0,0,0,.5) inset,
   0 1px 1px rgba(255,255,255,.1);
    color: white;
}


.knopka2{
 color: white;
    position: relative;
  display: inline-block;
  font-size: 90%;
  font-weight: 700;
  text-decoration: none;
  outline: none;
  border-radius: 60px;
  background:rgba(255,255,255,.2);
    padding: 9px 60px 11px 60px;
  box-shadow:
   0 1px rgba(255,255,255,.2) inset,
   0 3px 5px rgba(0,1,6,.5),
   0 0 1px 1px rgba(0,1,6,.2);
  transition: .2s ease-in-out;
    border:3px solid white;
    margin-left: 50px;
    font-family: 'Roboto', sans-serif;
    
}
a.knopka2:hover:not(:active) {
  background:#01f7b3 ;
    text-decoration: none;
    color: white;
    border:3px solid #01f7b3;cursor: pointer;
}
a.knopka2:active {
  top: 1px;
  background:#01f7b3 ;
    text-decoration: none;
  box-shadow:
   0 0 1px rgba(0,0,0,.5) inset,
   0 2px 3px rgba(0,0,0,.5) inset,
   0 1px 1px rgba(255,255,255,.1);
    color: white;
}
.hochy{
margin-left: 37px;
    margin-top: -18px;
    font-size: 18px;
 font-family: 'Roboto', sans-serif;
font-weight: 300;
    letter-spacing: 2px;
    color: white;cursor: pointer;
}
.monetiz{
color: white;
text-decoration: underline;
 font-family: 'Roboto', sans-serif;
font-weight: 500;
    text-decoration: underline;
    letter-spacing: 2px;
}
.monetiz:hover{
color: #e2e1e4;

}
.zogol{
    font-size: 11px;
    color: white;
    font-family: 'Roboto', sans-serif;
font-weight: 500;
    margin-top: -90px;
    margin-left: 100px;
    
    
    
}

.icone{
margin-left: -230px


}
.podzogol{

    font-size: 11px;
    color: white;
    font-family: 'Roboto', sans-serif;
font-weight: 200;
    margin-top: -px;
    margin-left: 100px;

}
.see{
float: right;
padding-left: 30px;cursor: pointer;
}
.see1{
float: right;
padding-left: 30px;cursor: pointer;
}

.see2{
float: right;
padding-left: 30px;cursor: pointer;
}

.see3{
float: right;
padding-left: 30px;cursor: pointer;
}
.vce{
margin-top: 600px;
margin-right: -130px
}







/*второй сектор*/
.preumec{
background: #312e43;
    height: 600px;
    margin-top: -440px;
}
.factor{
font-size: 24px;
color: white;
 font-family: 'Roboto', sans-serif;
font-weight: 900;
    margin-top: 90px;
}
.onac{

font-size: 18px;
color: white;
 font-family: 'Roboto', sans-serif;
font-weight: 300;
}
.platform{
font-size: 24px;
color: white;
 font-family: 'Roboto', sans-serif;
font-weight: 900;
    margin-top: 90px;
   text-transform: uppercase;
margin-left: 70px;
}
.messen{
margin-left: 610px;
margin-top: -160px;
}
.messeng{
padding-left: 30px;
cursor: pointer;

}
.text{
margin-top: -150px;
    font-size: 20px;
    color: white;
font-family: 'Roboto', sans-serif;
font-weight: 300;
    margin-left: 120px;
}
.text2{
margin-top: -8px;
    font-size: 16px;
    color: white;
font-family: 'Roboto', sans-serif;
font-weight: 100;
    margin-left: 120px;
    padding-top: 10px
}
.cinema{
margin-left: -400px;
margin-top: 60px
}
.reclamestrateg{
margin-left: 700px;
margin-top: -153px
}


/*третий слой*/
.yslug{
background: url(../img/fong.png) no-repeat center top / cover;
height: 2500px;
}
.yslyg{
margin-left: 480px;
 font-size: 40px;
    color: #312e43;
font-family: 'Roboto', sans-serif;
font-weight: 900;
    margin-top: 60px;
    padding-bottom: 70px
}
.icone1{
margin-left: -340px;
    margin-top: -30px

}
.zogol1{
    color: #312e43;
 font-size: 16px;
   
    font-family: 'Roboto', sans-serif;
font-weight: 700;
    margin-top: -90px;
    margin-left: 30px;
}
.podzogol1{
    color: #312e43;
 font-size: 14px;
   
    font-family: 'Roboto', sans-serif;
font-weight: 300;
    margin-top: -px;
    margin-left: 30px;
}
.gryp{
    float: right;
    padding-top: 50px;
}
.gryp1{
    float: right;
    padding-right: 50px;
    padding-left: 50px;

    
}
.gryp2{
    float: right;
     padding-top: 50px;
    padding-bottom: 89px;
}

.gryp3{
    padding-left: 200px
   
}

.gryp4{
   float: right;
    padding-right: 100px;
    margin-top: -82px
}

.zogo1{
color: #312e43;
 font-size: 16px;
   
    font-family: 'Roboto', sans-serif;
font-weight: 700;
    margin-top: -90px;
    margin-left: 30px;
}
.podzogo1{
 color: #312e43;
 font-size: 14px;
    font-family: 'Roboto', sans-serif;
font-weight: 300;
    margin-top: -px;
    margin-left: 30px;
}


<style type="text/css">
.blogodel {
  overflow: hidden;
  position: relative;
  display: inline-block;
}
.blogodel:hover {cursor: pointer;}

.blogodel img {
 
  border: none;
  margin: 0;
  padding: 10px;
}

.blogodel .more {
  background-color: #123; 
  color: #FFF;
  font-size: 14px;
  padding: 5px 10px;
  filter:alpha(opacity=65);
  opacity:.65;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=65)';
  position: absolute;
  right: 10px; bottom: 10px;
}
.blogodel:hover .more {display: none;}

.blogodel .desc {display: none;}
.blogodel:hover .desc {
  background-color:#345;
  display: block;
  margin: 0;
  color: #FFF;
  font-size: 12px;
  padding: px;
  filter:alpha(opacity=75);
  opacity:.75;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=75)';
  position: absolute;
margin-top: -72px;
    margin-left: 10px;
    padding-left: 49px;
    padding-right: 50px
}

.blogodel:hover .desc strong {
  display: block;
  font-size: 14px;
  line-height: 1em;
    padding-left: 70px;
    padding-right: 20px
}
.podpis{
padding-bottom: 4px

}
 







<style type="text/css">
.blogodel1{
  overflow: hidden;
  position: relative;
  display: inline-block;
}
.blogodel1:hover {cursor: pointer;}

.blogodel1 img {
 
  border: none;
  margin: 0;
  padding: 10px;
}

.blogodel1 .more {
  background-color: #123; 
  color: #FFF;
  font-size: 14px;
  padding: 5px 10px;
  filter:alpha(opacity=65);
  opacity:.65;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=65)';
  position: absolute;
  right: 10px; bottom: 10px;
}
.blogodel1:hover .more {display: none;}

.blogodel1 .desc {display: none;}
.blogodel1:hover .desc {
  background-color:#345;
  display: block;
  margin: 0;
  color: #FFF;
  font-size: 12px;
  padding: px;
  filter:alpha(opacity=75);
  opacity:.75;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=75)';
  position: absolute;
margin-top: -72px;
    margin-left: 10px;
    padding-left: 49px;
    padding-right: 50px
}

.blogodel1:hover .desc strong {
  display: block;
  font-size: 14px;
  line-height: 1em;
    padding-left: 60px;
    padding-right: 28px;
    padding-top: 1px;
}








<style type="text/css">
.blogodel2{
  overflow: hidden;
  position: relative;
  display: inline-block;
}
.blogodel2:hover {cursor: pointer;}

.blogodel2 img {
 
  border: none;
  margin: 0;
  padding: 10px;
}

.blogodel2 .more {
  background-color: #123; 
  color: #FFF;
  font-size: 14px;
  padding: 5px 10px;
  filter:alpha(opacity=65);
  opacity:.65;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=65)';
  position: absolute;
  right: 10px; bottom: 10px;
}
.blogodel2:hover .more {display: none;}

.blogodel2 .desc {display: none;}
.blogodel2:hover .desc {
  background-color:#345;
  display: block;
  margin: 0;
  color: #FFF;
  font-size: 12px;
  padding: px;
  filter:alpha(opacity=75);
  opacity:.75;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=75)';
  position: absolute;
margin-top: -72px;
    margin-left: 10px;
    padding-left: 49px;
    padding-right: 50px
}

.blogodel2:hover .desc strong {
  display: block;
  font-size: 14px;
  line-height: 1em;
    padding-left: 60px;
    padding-right: 30px;
    padding-top: 1px;
}

.blogodel2{
float: right;
    margin-top: -232px;
    padding-right:20px


}

.blogodel1{
margin-left: 350px;
    margin-top:-232px 

}
.con{
margin-top: 30px;
padding-left: 30px;
    padding-bottom: 100px

}
.blo{
margin-top: 300px;
    color: white;
     font-family: 'Roboto', sans-serif;
font-weight: 900;
    margin-left: 70px;
    padding-top: 30px


}
.blogger__block{
background: #312e43;
    border-radius: 50px;
    
}
.wceblog{
color: #00a5df;
padding-right: 50px;
     font-family: 'Roboto', sans-serif;
font-weight: 900;
    font-size: 20px;
}
.wceblog:hover{
color: #00a5df;
 list-style-type: none; 
}

.ackluz{
color: #2bbbac;
 font-family: 'Roboto', sans-serif;
font-weight: 900;
    font-size: 20px;
    text-decoration: none;
    list-style-type: none; 
}
.ackluz:hover{
color: #2bbbac;
 list-style-type: none; 
}

.fot{
margin-left: 630px;
    margin-top: -50px;
    padding-bottom: 50px

}
.fotq{
margin-left: 900px;
    margin-top: -50px;
    margin-bottom: 50px;
}
.blogodel4{


}
.blogodel5{
float: right;
    margin-top: -199px;
    padding-right:20px
}
.blogodel6{
    margin-left: 360px;
    margin-top:-199px 
   }
.ackluz{
padding-top: 0px;

}
.blogger__block{
    padding-bottom: 10px
    
    
}
.podderhca{
margin-top: 190px;
    color: #312e43;
font-family: 'Roboto', sans-serif;
font-weight: 900;
    font-size: 20px;
    margin-left: 30px;
    padding-top: 20px;
    
}
.texpoder{
background: white;
padding-bottom: 70px

}
.tex{
  color: #312e43;
font-family: 'Roboto', sans-serif;
font-weight: 200;
    font-size: 18px;
    margin-left: 30px;

}
.button{
margin-right: 200px;
float: right;
    margin-top: -50px


}


.knopka3{
 color: black;
    position: relative;
  display: inline-block;
  font-size: 90%;
  font-weight: 700;
  text-decoration: none;
  outline: none;
  border-radius: 60px;
  background:rgba(255,255,255,.2);
    padding: 9px 60px 11px 60px;
  box-shadow:
   0 1px rgba(255,255,255,.2) inset,
   0 3px 5px rgba(0,1,6,.5),
   0 0 1px 1px rgba(0,1,6,.2);
  transition: .2s ease-in-out;
    border:3px solid white;
    margin-left: 100px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 40px
}
a.knopka3:hover:not(:active) {
  background:#01f7b3 ;
    text-decoration: none;
    color: white;
    border:3px solid #01f7b3;cursor: pointer;
}
a.knopka3:active {
  top: 1px;
  background:#01f7b3 ;
    text-decoration: none;
  box-shadow:
   0 0 1px rgba(0,0,0,.5) inset,
   0 2px 3px rgba(0,0,0,.5) inset,
   0 1px 1px rgba(255,255,255,.1);
    color: white;
}











.footerone{
background: #312e43;
    height: 300px;
    margin-top: -40px


}
.FactoryADvert{
font-size: 24px;
font-family: 'Roboto', sans-serif;
font-weight: 900;
    color: #05e962;
    padding-top: 50px;
    padding-bottom: 20px

}
.FactoryADvers{
font-size: 19px;
font-family: 'Roboto', sans-serif;
font-weight: 300;
    color: white;
    padding-top: 50px;
    margin-top: -70px;
    margin-left: 50px
}
.verx{
      
    color: #2756490;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
font-weight: 900; 

 
}

.ver{
      color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
font-weight: 500; 
    padding-top: 20px
    
}
.vverx{
margin-top: 50px;
    margin-left: 100px


}



/*второя страница*/

.keus{
background:url(../img/fons3.png)no-repeat center top / cover; 
height: 2500px
}
.UDOJOPplay{
 font-family: 'Roboto', sans-serif;
font-weight: 900;
     color: white;
    font-size: 30px;
    float:left 
}
.FactoryADvertsone{ 
    font-family: 'Roboto', sans-serif;
font-weight: 900; 
    color: white;
    font-size: 30px; 
    float: right
}

.boom{
margin-top: -2300px;
    background: #312e43;
    padding: 33px 20px 50px 20px
}

.booms{

margin-top: -2220px;
background: #e5e4e4;
    height: 700px;
    
}
.ludojop{
margin-left: 700px;
    margin-top: 450px;
}
.logoklient{
margin-top: -850px;
    margin-left: 750px;
}
.zadach{
    margin-top: -620px;
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
font-weight: 900;
    color: #1487e2;
    font-size: 22px;
    padding-bottom: 20px
}
.tochi{
margin-left: 20px;

}
.erunda{
margin-left: 40px;
margin-top: -39px;
    padding-bottom: 22px;
  font-family: 'Roboto', sans-serif;
font-weight:300;
    color: #7c7c7c;
}
.zadach2{
 margin-left: 20px;

    padding-bottom: 22px;
  font-family: 'Roboto', sans-serif;
font-weight:900;
    color: #1487e2;
        font-size: 22px;
}
.onaslood{
font-size: 16px;
  font-family: 'Roboto', sans-serif;
font-weight: 300;
    color: #7c7c7c;
    padding-top: 50px;
    margin-left: 40px;
    margin-top: -30px
}
.onaslood1{
font-size: 16px;
  font-family: 'Roboto', sans-serif;
font-weight: 300;
    color: #7c7c7c;
    padding-top: 100px;
    margin-left: 40px;
    margin-top: -30px
}
.zadach1{
    margin-left: 20px;
    padding-bottom: 22px;
  font-family: 'Roboto', sans-serif;
font-weight:900;
    color: #1487e2;
        font-size: 22px;
    padding-top: 30px;   
}
.tochi1{
margin-left: 20px;
}
.boomsn{
    margin-top: -1389px;
background: #e5e4e4;
    height: 670px
}
.boom1{
margin-top: -1468px;
    background: #312e43;
    padding: 33px 20px 50px 20px
}
.texpoder1{ 
    margin-top: -690px;
    background: white;
    padding-bottom:50px;
    
}

















